Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.*
!.gitattributes
!.gitignore
!readme.md
!.gitkeep
!*.cpp
!*.bp
!*.uasset
Content/Characters/
Content/DynamicVolumetricSky/
Content/FPWeapon/
Content/FirstPerson/
Content/FirstPersonArms/
Content/LevelPrototyping/
Content/Levels/
Content/MegaMagicVFXBundle/
Content/Megapack/
Content/NewLevelSequence.uasset
Content/Ninja_Pack/
Content/Rain_material/
Content/Realistic_Starter_VFX_Pack_Vol2/
Content/StarterContent/
Content/Swamp/Swamp/data/
Content/Textures/
Content/Widget/
Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/sA_Megapack_v1/
